// svgerber stylesheet

#dropzone
  height 150px
  text-align center
  border thin dashed black

.progress
  margin-top 20px

.filename
  margin-bottom 0
  font-size 18px

.layer-type-select
  font-size 16px

.js-template
  display none

.btn-unavailable
  display none

#filelist
  li
    margin 10px
