// svgerber stylesheet
// bring in bootstrap
@require "../bower_components/bootstrap/dist/css/bootstrap.css"
// bring in octicons
@import "../bower_components/octicons/octicons/octicons.css"

// body padding for fixed navbar
body
  padding-top 50px

#top-nav-spacer
  height 50px

#top-nav
  // .nav
  //   li
  //     margin-left 0
  //     height 100%
  //
  //   .octicon
  //     text-align center
  //     font-size 18px
  //     padding 8px
  //     margin-top 10px
  //     margin-bottom 2px

#dropzone
  margin-top 25px
  margin-bottom 25px
  padding-top 100px
  padding-bottom 100px
  text-align center
  border thin dashed black
  border-radius 10px

#file-upload-select
  display none

#filelist
  li
    height 48px
    margin 10px

  .filelist-item
    height 100%

  .mega-octicon
    font-size 48px
    text-align right

  .progress
    height 32px
    margin-top 8px
    margin-bottom 8px

  .progress-bar
    transition width 30ms

// process button
#process
  margin-top 20px
  margin-bottom 20px

#individual-layer-output
  padding-top 10px
  padding-bottom 10px
  text-align center

.filename
  margin-bottom 0
  font-size 18px

.layer-type-select
  font-size 16px

.layer-container
  margin-top 20px
  margin-bottom 20px
  text-align center

.layer-drawing
  svg
    overflow visible

.js-template
  display none

footer
  text-align center
  margin-top 50px
