doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title svGerber

  body
    h1 svGerber
    p let's do this thing

    input(type='file' name='files[]' multiple)#files
    output#list

    // javascript
    // filereader
    script(src='js/filereader.js')
