doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title svgerber

    // bootstrap css
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet')
    // octicons!
    link(href='/octicons/octicons.css' rel='stylesheet')
    // my css
    link(href='app.css' rel='stylesheet')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  body
    nav(roll='navigation').navbar.navbar-default.container-fluid
      ul.nav.row
        li.col-sm-8
          h1#title
            a(href='#') svgerber
            small= " (it's in alpha!)"
        li.col-sm-2
          a(href='#') what's all this then?

        li.col-sm-2
          a(href='http://github.com/mcous/svgerber' target='_blank') fork me on github!

    .container
      h2 Let's do this thing
      p But before we do, be aware that a lot of stuff doesn't work:
      ul
        li incremental coordinates don't work
        li trailing zero suppression is untested
        li drill files are not supported
        li old files with deprecated gerber commands could confuse it
        li the UI is crap
        li anything else that's broken won't work

    .container
      .row
        div#dropzone.col-sm-8
          span.mega-octicon.octicon-circuit-board
          h3 drop your gerbers here
        div.col-sm-4 or click here to select files
          input(type='file' name='files[]' multiple)#fileselect
      .row
        output#list

    .container
      div#layers

    // javascript
    // jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // bootstrap
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    // app
    include ../jade-includes/scripts
