doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title svgerber

  body
    h1 svgerber
    p let's do this thing

    // multiple files
    input(type='file' name='files[]' multiple)#files
    output#list

    div#file-contents

    // javascript
    // app
    script(src='app.js')
    // plotter
    //script(src='js/plotter.js')
    // app
    //script(src='js/svgerber.js')
