doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title svgerber

  body
    h1 svgerbeR
    p let's do this thing

    // multiple files
    input(type='file' name='files[]' multiple)#files
    output#list

    div#layers

    // javascript
    include ../jade-includes/scripts
