// template for a gerber layer
script(type='text/template')#board-layer-template
  h2.LayerHeading <%= name %>
  a(href!='<%= href %>' download!='<%= type %>.svg' target='_blank').LayerDrawing
    <%= img %>
