// template for a gerber layer
script(type='text/template')#board-layer-template
  h2.LayerHeading
    span.LayerTitle!= '<%= name %>'
    = ' '
    a(href='#' href-lang='image/svg+xml' download!='<%= name %>.svg').Btn.Btn--download.is-disabled
      span.mega-octicon.octicon-cloud-download
  div.LayerDrawing
    <%= img %>
  
