// template for an item in the filelist
script(type='text/template')#filelist-item-template

  // delete button
  button.UploadList--itemDelete.mega-octicon.octicon-trashcan
  // filename
  span.UploadList--filename.Heading <%= filename %>
  // layer type select
  span.UploadList--select
    span.mega-octicon.octicon-chevron-right
    span.UploadList--text.Heading= ' layer type: '
    select.UploadList--SelectMenu.UploadList--text
      // options populated by app
      <% _.forEach(options, function(opt) { %>
      option(value!='<%= opt.val %>') <%= opt.desc %>
      <% }); %>
