// svgerber stylesheet
// fonts
@import url('http://fonts.googleapis.com/css?family=Karma|Lato:700,400italic')
// uses jeet
@import 'jeet'
//edit()

BODY_COLOR    = whitesmoke
BODY_GRAD     = linear-gradient(135deg, whitesmoke, gainsboro)

BTN_BG        = white
BTN_TEXT      = black

NAV_COLOR     = lighten(black, 25%)
NAVLINK_COLOR = whitesmoke

BOX_COLOR     = lighten(black, 67%)
BOX_BORDER    = darken(BOX_COLOR, 50%)
BOXTEXT_COLOR = whitesmoke

FOOT_BG       = lighten(black, 67%)
FOOR_TEXT     = whitesmoke

// mobile breakpoint
BP = 43em
FILELIST_BP = 64em

// fontstants
SIZE = 16
LINE = 1.2

// main nav
navHt = 3em
navLinkHt = 1.5em
navLinkPad = ( navHt - navLinkHt )/( 2 * navLinkHt )

// top bottom and left right margin and padding mixins
margin-tb(n)
  margin-top n
  margin-bottom n
margin-lr(n)
  margin-left n
  margin-right n
// top bottom, left right margin mixin
padding-tb(n)
  padding-top n
  padding-bottom n
padding-lr(n)
  padding-left n
  padding-right n

// defaults and pagewide styling
*
  box-sizing border-box

html
  background-color FOOT_BG

html, body
  width 100%
  max-width 100%
  min-height 100%

body
  cf()
  font-family Karma, serif
  font-size SIZE
  line-height LINE
  text-align center
  padding 0
  margin 0
  // color
  background-color BODY_COLOR
  background-image BODY_GRAD

// pad content for sticky nav
.Content
  padding-top navHt
  cf()

h1, h2, h3, h4, h5, h6, strong, .Btn, .Heading, li
  font-family Lato, sans-serif
  font-weight 700

small
  font-style italic

h1,h2, h3, h4, h5, h6, p
  margin-tb 0.5em

p
  margin-lr 0.5em

a
  text-decoration none
  color darken(blue, 20%)
  &:hover
    color darken(blue, 50%)

.List-unstyled
  margin 0
  padding 0
  list-style none

.is-hidden, .is-js-template
  display none !important
  position absolute
  z-index 1

// .is-invisible
//   visibility hidden
//   opacity 0
//   transition visibility 0s 0.5s, opacity 0.5s linear

.is-retracted
  max-height 0 !important
  margin-top 0 !important
  margin-bottom 0 !important
  overflow hidden

ul
  padding-lr 2em

// buttons
.Btn
  // cursor
  cursor pointer
  // text style
  font-weight 400
  font-style italic
  font-size 16px
  text-align center
  // border style
  border-style solid
  border-color black
  border-width 0
  border-radius 0.5em
  // shadows on hover
  transition box-shadow 0.2s
  &:hover
    box-shadow 0.05em 0.05em 0.2em black
  &:active
    outline none
    box-shadow 0 0 0.1em black
  // default shadow
  box-shadow 0.1em 0.1em 0.4em black
  // spacing
  padding 0.5em 1em 0.5em 1em
  margin 0.25em
  // size
  width 10em
  max-width 90%
  // color
  background-color BTN_BG
  color BTN_TEXT

// links styled as buttons
a.Btn
  display inline-block

.Btn-lg
  font-size 18px
  width 80%
  max-width 16em

button:disabled, .Btn.is-disabled
  color lighten(black, 50%) !important
  //border-color lighten(black, 33%)
  //border-width 1px
  box-shadow 0 0 1px black !important
  pointer-events none
  cursor default

// general spacing
.Container
  col(.95, offset: 0.025)
  margin-tb 1em

.Row
  col()
  cf()

// content boxes
.Box
  // border and colors
  border-radius 1em
  border-style solid
  border-width 1px
  border-color BOX_BORDER
  background-color BOX_COLOR
  color BOXTEXT_COLOR
  // spacing
  margin-tb 1em

#main-nav
  text-align center
  height navHt
  margin-bottom 1em
  border-bottom 1px solid darken(NAV_COLOR, 25%)
  // color
  background-color NAV_COLOR
  // shadow
  box-shadow 0 0.1em 0.5em black
  // fixed to top
  width 100%
  position fixed
  z-index 10
  transform none !important

.Nav-list
  height 100%
  li
    position relative
    height 100%
    span(1/6)

.Nav--link
  width 100%
  max-height navHt
  font-size navLinkHt
  padding-top navLinkPad
  padding-bottom navLinkPad
  color inherit
  &:hover
    color inherit
  span
    +below(BP)
      display none


.Nav--linkButton
  // link color
  color NAVLINK_COLOR
  &:hover, &.is-active
    background-color darken(NAV_COLOR, 25%)
  &.is-disabled
    color darken(NAVLINK_COLOR, 50%)
    background-color NAV_COLOR
    pointer-events none
    cursor default

// end main nav

// CONTENT

// top row
#information
  col(1/3)
  shift(1/3)
  +below(BP)
    unshift()
    stack()

#caution
  col(1/3)
  shift(-1/3)
  +below(BP)
    unshift()
    stack()
  ul
    text-align left

#sample
  col(1/3)
  +below(BP)
    stack()
// end top row

// file upload
#dropzone
  // border
  border-width 2px
  border-style dashed
  border-color black
  border-radius 1em
  // inset shadow
  box-shadow inset 0.1em 0.1em 0.4em black
  // spacing
  margin-bottom 1em
  // hide the default file select stuff
  input
    display none
  // position relative for centering of things
  position relative
  height 20em
  // align the container inside
  .AlignedContainer, #url-paste-form
    align()

#url-paste-form
  textarea
    display block
    border-radius 1em
    padding 1em
    margin 0.5em
    margin-bottom 0
    text-align left
    font-size 0.75em

.DropzoneContents
  margin-tb 0.5em
  stack()

.Dropzone--btn
  display inline-block
  width auto
  height auto
  padding 0.5em 1em 0.5em 1em
// end file upload


// uploaded file list
#filelist-output
  center(56em)

.UploadList--item
  cf()
  position relative
  margin-bottom 0.5em
  padding 0.5em
  &.is-valid
    background-color desaturate(lighten(green, 10%), 75%)
  &.is-invalid
    background-color desaturate(lighten(red, 10%), 75%)
  &.is-unprocessable
    background-color BOX_COLOR
  &.is-processing
    background-size 4em 4em
    background-image linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
      transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
      rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
    animation animate-stripes 2s linear infinite
  // show buttons on hover
  &:hover
    button
      opacity 1

@keyframes animate-stripes
  from
    background-position 0 0
  to
    background-position 8em 0

.UploadList--itemDelete
  // cursor
  cursor pointer
  // color and border
  color desaturate(lighten(red, 10%), 75%)
  border none
  border-radius 0.2em
  background-color rgba(255, 255, 255, 0.6)
  // hover effect
  opacity 0.1
  &:hover
    opacity 1
  transition opacity 50ms linear 20ms
  // positioning
  display inline-block
  align(vertical)
  text-align center
  height 90%
  margin-right 100.5%
  right 0
  +below(FILELIST_BP)
    transform none
    float left
    clear none
    margin-right 0.5em
    position static
    opacity 0.5
    padding 0
    padding-lr 0.25em
    font-size 1.25em * LINE

.UploadList--filename
  float left
  font-size 1.25em
  text-align left

.UploadList--select
  float right
  .mega-octicon
    font-size 1.25em
    margin-left 0.25em

.UploadList--text
  line-height LINE
  color inherit

span.UploadList--text
  margin-lr 0.25em
  font-size 1.25em

select.UploadList--text
  font-family Lato, sans-serif
  font-size 1em
  height 1.25em * LINE
  margin 0
  border-width 0
  border-radius 0
  vertical-align bottom
  background-color transparent
  // remove ugly default appearance
  cursor pointer
  appearance none
  -moz-appearance none
  -webkit-appearance none
  // try to get text color to black when expanded
  option
    color black
// end uploaded file list

// board output
#board-output-row
  background-color FOOT_BG
  padding-tb 1em

#board-output
  center(pad: 5%)
  margin-bottom 2em

#board-output-color
  transition max-height 0.5s, margin 0.5s
  margin-top 0
  max-height 20em
  +below(BP)
    max-height 60em
  //height auto
  overflow hidden
  .Box
    background-color NAV_COLOR
    col(1/4, cycle: 4)
    +below(BP)
      stack()

// .ColorPicker

.ColorPicker--btn
  col(1/2, cycle: 2)
  +below(BP)
    col(1/4, uncycle: 2, cycle: 4)

#layer-output
  padding-tb 1em
  cf()
  center(pad: 10%)

.LayerDrawing
  color lighten(black, 15%)
  background-color whitesmoke
  border-radius 1em
  height 0
  width 100%
  padding-bottom 100%
  position relative
  overflow hidden
  svg
    align()
    width 95%
    height 95%

.Board
  //min-height 30em

.BoardContainer
  col(1/2, cycle: 2)
  +below(BP)
    stack()
  .LayerDrawing
    background-color NAV_COLOR

.LayerContainer
  col(1/2, cycle: 2)
  +below(BP)
    stack()

// footer
footer
  col()
  margin 1em 0 0 0
  background-color FOOT_BG
.Foot--links
  a
    display inline-block
    margin 1em
// end footer
